body
{
  
        margin: 0 auto;
        justify-content: center;
        align-items: center;
        display:flex;
        flex-direction: column;
       
    
}



.heading
{
    align-items: center;
    display: flex;
    flex-direction:row;
    width: 500px;
    justify-content:space-evenly;
}


.grid-container
{
    width: 750px;
    height: 545px;
    display: grid;
    border: 40px solid rgb(218, 18, 18);
    background-color:rgb(226, 218, 218);
    margin-bottom:20px;
}

img 
{
    background-color:rgb(179, 200, 240);
    padding: 0 435px;
    display:flex;
    margin:0 auto;

    
}




.buttons 
{
    justify-content:space-evenly;
    flex-direction: row;
    width: 500px;
    align-items:center;
    display:flex;
    margin-bottom:20px;
}













