body
{
    margin: 0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    padding: 50px 0;
}



.header
{
    color:rgb(248, 234, 41);
    background-color:rgb(238, 23, 66);
    border-radius: 20px 20px 20px 20px;
    font-size:75px;
}

.heading 
{
  font-size: 70px;
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-top: 14px;
}

#grid-container
{
    display: inline-grid;
    border:rgb(238, 23, 66);
    border-width: 6px 100px 0;
    grid-gap: 1px;
}

.controls 
{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    padding: 0 80px;
    width: 1079px;
    height: 100px;
    border-radius: 0 0 20px 20px;
    
}

.modes
{
    
    margin-left:20px;
}

.controls > div
{
    display:flex;
    align-items:center;
}

.controls button
{
    background-color:gray;
    border:none;
    border-radius: 3px;
    padding: 6px 8px;
    margin-left: 20px;
    transition: all 0.3s;
    cursor: pointer;
    outline: none;
}

.controls button:hover
{
    background-color:rgb(248, 234, 41);
    transition: all 0.3s;
}

.controls > div > p
{
    color:rgb(248, 234, 41);
    font-weight:700;
    font-size: 25px;
    margin:0;
}

#grid-container 
{
    display: inline-grid;
    border: solid rgb(238, 23, 66);
    border-width: 6px 100px 0;
    grid-gap: 1px;

}


