body
{
    background-color:rgb(132, 185, 238);
}

.logo
{
    
    margin-left:auto;
    margin-right:auto;
    display: flex;
    width: 15%;
    
}

.header
{
    margin:0;
    background-color:white;
}

.header1
{
    justify-content: center;
    margin-left:auto;
    margin-right:auto;
    display:flex;
    align-items:center;
}